name: Run 01_current_szn.py

on:
  schedule:
    - cron: '0 14 * * *' #every morning 6AM PT
  workflow_dispatch:

permissions:
  contents: write

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install uv
        run: pip install uv

      - name: Install project dependencies
        run: uv sync --frozen

      - name: Run Python script
        run: uv run ./code/01_current_szn.py

      - name: Commit & Push to Repo
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: 'Auto-update latest NBA games CSV'